<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>controlProduto</servlet-name>
        <servlet-class>servlets.controlProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlCliente</servlet-name>
        <servlet-class>servlets.controlCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlVenda</servlet-name>
        <servlet-class>servlets.controlVenda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlProduto</servlet-name>
        <url-pattern>/controlProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlCliente</servlet-name>
        <url-pattern>/controlCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlVenda</servlet-name>
        <url-pattern>/controlVenda</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    
</web-app>
