<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AlterarCategoria</servlet-name>
        <servlet-class>controle.AlterarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirCategoria</servlet-name>
        <servlet-class>controle.InserirCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverCategoria</servlet-name>
        <servlet-class>controle.RemoverCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirArtigo</servlet-name>
        <servlet-class>controle.InserirArtigo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarArtigo</servlet-name>
        <servlet-class>controle.AlterarArtigo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverArtigo</servlet-name>
        <servlet-class>controle.RemoverArtigo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlterarCategoria</servlet-name>
        <url-pattern>/AlterarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirCategoria</servlet-name>
        <url-pattern>/InserirCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverCategoria</servlet-name>
        <url-pattern>/RemoverCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirArtigo</servlet-name>
        <url-pattern>/InserirArtigo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarArtigo</servlet-name>
        <url-pattern>/AlterarArtigo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverArtigo</servlet-name>
        <url-pattern>/RemoverArtigo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
