<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>teste</servlet-name>
        <servlet-class>teste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testes</servlet-name>
        <servlet-class>classes.testes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testes2</servlet-name>
        <servlet-class>classes.testes2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teste</servlet-name>
        <url-pattern>/teste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testes</servlet-name>
        <url-pattern>/testes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testes2</servlet-name>
        <url-pattern>/testes2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
